*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black-color: black;
    --white-color: white;
}

header {
    background-color: rgb(32, 0, 107);
    color: var(--white-color);
    padding: 0.5em;
}

body {
    margin: 0;
    background-color: var(--black-color);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    padding: 0.5em;
    color: var(--white-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 1.9rem;
}

nav a:hover {
    border-radius: 5px;
    background-color: var(--black-color);
}

section {
    padding: 60px 20px;
    min-height: 400px;
    background-color: white;
}
